---
import Card from "./Card.astro";

export type Props = {
  id: number;
  company: string;
  logo: string;
  isNew: boolean;
  isFeatured: boolean;
  position: string;
  role: string;
  level: string;
  postedAt: string;
  contract: string;
  location: string;
  languages: string[];
  tools: string[];
};

const {
  company,
  logo,
  isNew,
  isFeatured,
  position,
  postedAt,
  contract,
  location,
  role,
  level,
  languages,
  tools,
} = Astro.props;
---

<Card {isFeatured}>
  <figure
    class="absolute -top-6 max-w-[48px] md:relative md:top-0 md:max-w-[88px]"
  >
    <img class="w-full rounded-full" src={logo} alt={company} />
  </figure>

  <article class="grid auto-cols-max grid-flow-col gap-x-6">
    <h1
      class="items-center py-[10px] text-base leading-none text-desaturated-dark-cyan"
    >
      {company}
    </h1>

    {
      (isNew || isFeatured) && (
        <div class="grid auto-cols-max grid-flow-col items-center gap-x-2">
          {isNew && (
            <p class="rounded-2xl bg-desaturated-dark-cyan p-[10px] text-base leading-none text-white">
              New!
            </p>
          )}
          {isFeatured && (
            <p class="rounded-2xl bg-very-dark-grayish-cyan p-[10px] text-base leading-none text-white">
              Featured
            </p>
          )}
        </div>
      )
    }
  </article>

  <article class="mt-4">
    <h2 class="text-base leading-none text-very-dark-grayish-cyan">{position}</h2>
  </article>

  <article
    class="justify-content-start mt-5 grid auto-cols-max grid-flow-col gap-x-3"
  >
    <p class="text-base leading-none text-dark-grayish-cyan">{postedAt}</p>
    <p class="text-base leading-none text-dark-grayish-cyan">&middot;</p>
    <p class="text-base leading-none text-dark-grayish-cyan">{contract}</p>
    <p class="text-base leading-none text-dark-grayish-cyan">&middot;</p>
    <p class="text-base leading-none text-dark-grayish-cyan">{location}</p>
  </article>

  <hr class="mt-6" />

  <article class="mt-4 flex flex-wrap gap-4">
    <p
      class="rounded-lg bg-light-grayish-cyan-fg p-[10px] text-base leading-none text-desaturated-dark-cyan"
    >
      {role}
    </p>
    <p
      class="rounded-lg bg-light-grayish-cyan-fg p-[10px] text-base leading-none text-desaturated-dark-cyan"
    >
      {level}
    </p>
    {
      languages.map((language) => (
        <p class="rounded-lg bg-light-grayish-cyan-fg p-[10px] text-base leading-none text-desaturated-dark-cyan">
          {language}
        </p>
      ))
    }
    {
      tools.map((tool) => (
        <p class="rounded-lg bg-light-grayish-cyan-fg p-[10px] text-base leading-none text-desaturated-dark-cyan">
          {tool}
        </p>
      ))
    }
  </article>
</Card>
